<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= actor[0]['name'] %></title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/foundation.min.css">
  </head>

  <body>

    <ul class="breadcrumbs">
      <li><a href="/movies">Movies</a></li>
      <li><a href="/actors">Actors</a></li>
    </ul>

    <div class="row">

      <div class="small-6 large-centered columns">

        <h1><%= actor[0]['name'] %></h1>

        <table>
          <thead>
            <tr>
              <th width="200">Movie</th>
              <th width="200">Role</th>
            </tr>
          </thead>

          <tbody>
            <% actor_info.each do |actor| %>
              <tr>
                <td><a href="/movies/<%=actor['movie_id'] %>"><%= actor['title'] %></a></td>
                <td><%= actor['role'] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

      </div>

    </div>

  </body>
</html>
