<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Movies</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/foundation.min.css">
  </head>

  <body>

    <ul class="breadcrumbs">
      <li><a href="/movies">Movies By Title</a></li>
      <li><a href="/movies?order=year">Movies By Year</a></li>
      <li><a href="/movies?order=rating">Movies By Rating</a></li>
      <li><a href="/movies?order=genre">Movies By Genre</a></li>
      <li><a href="/movies?order=studio">Movies By Studio</a></li>
      <li><a href="/actors">Actors</a></li>
      <li><a href="/movies?order=<%= order %>&page=<%= params[:page].to_i - 1 %>">Previous Page</a></li>
      <li><a href="/movies?order=<%= order %>&page=<%= params[:page].to_i + 1 %>">Next Page</a></li>
    </ul>

    <div class="row">

      <div class="small-6 large-centered columns">

        <h1>Movies</h1>

        <form>
  <fieldset>
    <legend>Find a Movie</legend>
      <input type="text" name="query" placeholder="Enter search term">
    </label>
  </fieldset>
</form>

        <table>
          <thead>
            <tr>
              <th>Movie</th>
              <th>Year</th>
              <th>Rating</th>
              <th>Genre</th>
              <th>Studio</th>
            </tr>
          </thead>

          <tbody>
            <% movies.each do |movie| %>
              <tr>
                <td><a href="/movies/<%= movie['id'] %>"><%= movie['title'] %></a></td>
                <td><%= movie['year'] %></td>
                <td><%= movie['rating'] %></td>
                <td><%= movie['genre'] %></td>
                <td><%= movie['studio'] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

      </div>

    </div>

  </body>
</html>
