<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= movie[0]['title'] %></title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/foundation.min.css">
  </head>

  <body>

    <ul class="breadcrumbs">
      <li><a href="/movies">Movies By Title</a></li>
      <li><a href="/movies?order=year">Movies By Year</a></li>
      <li><a href="/movies?order=rating">Movies By Rating</a></li>
      <li><a href="/movies?order=genre">Movies By Genre</a></li>
      <li><a href="/movies?order=studio">Movies By Studio</a></li>
      <li><a href="/actors">Actors</a></li>
    </ul>

    <div class="row">

      <div class="small-6 large-centered columns">

        <h1><%= movie[0]['title'] %></h1>

        <form>
          <fieldset>
            <legend>Find a Movie</legend>
              <input type="text" name="query" placeholder="Enter search term">
            </label>
          </fieldset>
        </form>

        <table>
          <thead>
            <tr>
              <th>Studio</th>
              <th>Year</th>
              <th>Genre</th>
              <th>Rating</th>
              <th>Synopsis</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td><%= movie_info[0]['studio'] %></td>
              <td><%= movie_info[0]['year'] %></td>
              <td><%= movie_info[0]['genre'] %></td>
              <td><%= movie_info[0]['rating'] %></td>
              <td><%= movie_info[0]['synopsis'] %></td>
            </tr>
          </tbody>
        </table>

        <table>
          <thead>
            <tr>
              <th>Actor</th>
              <th>Role</th>
            </tr>
          </thead>

          <tbody>
            <% movie_info.each do |movie| %>
            <tr>
              <td><a href="/actors/<%= movie['actor_id'] %>"><%= movie['actor'] %></a></td>
              <td><%= movie['role'] %></td>
            </tr>
              <% end %>
          </tbody>
        </table>

      </div>

    </div>

  </body>
</html>
